#estilos{
    background-image: url(./assets/img/woman_programmer.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: #12A4CB;
}

h2{
    color: #12A4CB;
}